.logo{
    margin:20px 0px 0px 25px;
}
.header{
    width:auto;
    height:82px;
    padding:0px;
    margin:0px;
}
.bar{
    width: 290px;
    height: 70px;
    padding: 15px;
    background-color: #2C3E50;
    margin:20px 0px 10px 350px;
    display:inline-block;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000;
    vertical-align: top;
    box-sizing: border-box;
}
.search{
    padding:12px;
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    margin:0px 0px 0px 30px;
    background-color: white;
    display:inline-block;
    box-shadow: 1.5px 1.5px 1.5px #000000;
}
input[type=submit]{
    width: 45px;
    height: 35px;
    padding: 0px;
    margin:2px 0px 0px 3px;
    background-color: #1A5276;
    border: 2px;
    border-style: outset;
    border-radius: 10px;
    display:inline-block;
    vertical-align: top;
    color:white;
    font-family: sans-serif;
    font-size: 15px;
    box-shadow: 1.5px 1.5px 1.5px #000000;
}
input[type=text]{
    margin: 0px 0px 0px 35px;
    width: 150px;
    height: 40px;
    background-color: white;
    font-family: sans-serif;
    font-size: 15px;
    color:gray;
    text-align: center;
    border: 2px;
    border-style: inset;
    box-shadow: 1.5px 1.5px 1.5px #000000;
}
form{
    display:inline-block;
    margin: 1px 0px 0px 0px;
    vertical-align: top;
    height:auto;
    width:auto;
}
.searcher{
    padding:0px;
    margin:auto;
    color:gray;
    font-family: sans-serif;
    font-size: 15px;
}
p{
    padding:0px;
    margin:10px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.p1{
    padding:0px;
    margin:0px 0px 0px 300px;
    color:white;
    font-family: sans-serif;

}
.yellow{
    padding:0px;
    margin:5px;
    font-family: sans-serif;
    font-size: 25px;
    color:yellow;
    font-style: italic;
}
.wrapper{
    width:970px;
    height:auto;
    background-color: #21618C;
}
.navtxt{
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size:20px;
    /*display:inline-block;*/
}
.horizontal{
    padding:0px 11px 0px 0px;
    display:inline;
    list-style-type: none;
    font-family:sans-serif;
    color:white;
    font-size:20px;
    margin: auto 20px;
    text-align:center;
    /*vertical-align: top;*/
}
.nav{
    box-sizing: border-box;
    width:880px;
    height:50px;
    margin:40px 0px 15px 70px;
    padding:13px 10px 10px 10px;
    background-color: #2E86C1;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 1.5px #000000;
    /*border: 2px solid black;*/
}
.mid{
    width:970px;
    height:300px;
    /*border: 2px solid black;*/
    display:inline-block;
}
.main{
    box-sizing: border-box;
    width:750px;
    height:300px;
    background-color:gray;
    display:inline-block;
    vertical-align:top;
}
.midnav{
    width:200px;
    height:300px;
    border: 2px solid black;
    display:inline-block;
    vertical-align: top;
}
.info{
    width:970px;
    height:200px;
    /*border: 2px solid black;*/
    display:inline-block;
    background-color:white;
}
.infoleft{
    width:485px;
    height:200px;
    margin:0px;
    display:inline-block;
    background-color:gray;
}
.inforight{
    padding:0px;
    margin:0px;
    width:480px;
    height:200px;
    vertical-align: top;
    display:inline-block;
    background-color:pink;
}
.info p{
    text-align: center;
    font-family:sans-serif;
    color:black;
}
.info ul li{
    list-style:square;
    text-align:center;
    font-family: sans-serif;
    color:black;
}
.info .p1{
    padding:0px;
    margin:0px;
    text-align:center;
    font-family: sans-serif;
    color:#2E86C1;
}
.info h3{
    text-align:center;
    color:black;
    font-family: sans-serif;
}
.banbot{
    width:970px;
    height:100px;
    background: linear-gradient(to bottom, #21618C, #2E86C1);
    display:inline-block;
}
.banbot ul li{
    display:inline;
    /*list-style: none;*/
    color:#E5E7E9;
    font-size: 20px;
    margin:auto 35px;
    padding-left:0px;
    text-align: center;
    font-family: sans-serif;
}
.table{
    margin:20px auto 0px auto;
    display:table;
    margin:0 auto;
    padding:0px;
}
.banbot p{
    margin:20px 0px 0px 0px;
    font-size:12px;
    color:#E5E7E9;
    font-family: sans-serif;
    text-align: center;
}
